{% load static %}

<footer id="footer" class="bg-gray-100 py-10">
  <div class="container mx-auto px-6">
    <div class="flex flex-wrap justify-between">
      
      <div class="w-full md:w-1/2 mb-6">
        <h3 class="text-xl font-semibold mb-4">Serviços</h3>
        <ul class="space-y-2">
          <li><a href="#" class="text-blue-600 hover:text-blue-800">Consultoria de Imigração</a></li>
          <li><a href="#" class="text-blue-600 hover:text-blue-800">Simulação de Perfil</a></li>
          <li><a href="#" class="text-blue-600 hover:text-blue-800">Países Disponíveis</a></li>
          <li><a href="#" class="text-blue-600 hover:text-blue-800">Perguntas Frequentes</a></li>
          <li><a href="#" class="text-blue-600 hover:text-blue-800">Dicas e Atualizações</a></li>
        </ul>
      </div>

      <!-- Contato -->
      <div class="w-full md:w-1/2">
        <h3 class="text-xl font-semibold mb-4">Contato</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-blue-600 hover:text-blue-800 flex items-center">
              <i class="lni-map-marker mr-2"></i> Goiânia - GO, Brasil
            </a>
          </li>
          <li>
            <a href="tel:+5511999999999" class="text-blue-600 hover:text-blue-800 flex items-center">
              <i class="lni-phone-handset mr-2"></i> +55 (11) 99999-9999
            </a>
          </li>
          <li>
            <a href="mailto:contato@newzone.com" class="text-blue-600 hover:text-blue-800 flex items-center">
              <i class="lni-envelope mr-2"></i> contato@newzone.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="bg-white py-3 mt-8">
    <div class="container mx-auto text-center">
      <p class="text-sm">© 2025 <strong>NewZONE</strong> | Desenvolvido por <a href="https://github.com/guilhermetborges" target="_blank" class="text-purple-600 hover:text-purple-800">guilhermetborges ©</a></p>
    </div>
  </div>   
</footer>
